
<footer class="bg-footer">
	<div class="container">
		<div class="row">
			<div class="col-12 col-sm-6 col-lg-3 py-4 px-0">
				<div class="row w-100 px-3">
					<div class="col-12 footer-logo">
						<a href="index.html" title="На главную"><img src="img/logo_footer.png" alt="logo" class="img-fluid footer-logo"></a>
					</div>
					<div class="col-12 py-3">
						<div class="row">
							<div class="col-12">
								<h6 class="py-3">Мы в соцсетях: </h6>
							</div>
							<div class="col-3">
								<a href="https://vk.com/freearchers" target="_blank" class="nav-link p-0 text-success rounded-circle social-key">
									<img src="img/social-vk.png" alt="vk" class="img-fluid">
								</a>
							</div>
							<div class="col-3">
								<a href="https://facebook.com/freearchers" target="_blank" class="nav-link p-0 text-success rounded-circle social-key">
									<img src="img/social-fb.png" alt="" class="img-fluid">
								</a>
							</div>
							<div class="col-3">
								<a href="https://www.instagram.com/freearchers" target="_blank" class="nav-link p-0 text-success rounded-circle social-key">
									<img src="img/social-ig.png" alt="" class="img-fluid">
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-3 py-4 px-0">
				<!--ul.nav.flex-column>(li.nav-item>a.nav-link.text-success{punkt-$})*5-->
				<ul class="nav flex-column">
					<li class="nav-item"><a href="training.html" class="nav-link"><h6 class=" m-0">Тренировки</h6></a></li>
					<li class="nav-item"><a href="training.html" class="nav-link text-success">Расписание</a></li>
					<li class="nav-item"><a href="training.html#price" class="nav-link text-success">Цены</a></li>
					<li class="nav-item"><a href="training.html#abonement" class="nav-link text-success">Абонементы</a></li>
					<li class="nav-item"><a href="training.html#giftcard" class="nav-link text-success">Подарочные сертификаты</a></li>
				</ul>
			</div>
			<div class="col-12 col-sm-6 col-lg-3 py-4 px-0">
				<ul class="nav flex-column">
					<li class="nav-item"><a href="tiry.html" class="nav-link"><h6 class="m-0">Выездные тиры</h6></a></li>
					<li class="nav-item"><a href="tiry.html#tirmini" class="nav-link text-success">"Мини"</a></li>
					<li class="nav-item"><a href="tiry.html#tirclassic" class="nav-link text-success">"Классика"</a></li>
					<li class="nav-item"><a href="tiry.html#tirchildy" class="nav-link text-success">"Детский"</a></li>
					<li class="nav-item"><a href="tiry.html#tirvip" class="nav-link text-success">"V.I.P"</a></li>
				</ul>
			</div>
			<div class="col-12 col-sm-6 col-lg-3 py-4 px-0">
				<address class="m-0 p-0">
					<ul class="nav flex-column">
						<li class="nav-item"><a href="contacts.html" class="h6 text-white text-uppercase nav-link m-0">Контакты</a></li>
						<li class="nav-item"><a href="training.html#map" class="nav-link text-success" title="Смотреть на карте">г.Пермь</a></li>
						<li class="nav-item"><a href="training.html#map" class="nav-link text-success" title="Смотреть на карте">ул. Светлогорская 18</a></li>
						<li class="nav-item"><a href="tel:+73422021164" class="nav-link text-success" title="Позвонить">202-11-64</a></li>
						<li class="nav-item">
							//= ../templates/mailto.html
						</li>
					</ul>
				</address>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row py-2">
			<div class="col-12 col-sm-auto pl-sm-5">
				<div class="text-success nav-link px-0">
					&copy; Вольные стрелки 2018г.
				</div>
			</div>
			<div class="d-none d-sm-inline-block p-0 col-auto border-left border-success"></div>
			<div class="col-12 col-sm-auto px-0">
				<div class="policy px-0">
					<a href="policy.html" title="Политика конфиденциальности" class="text-success nav-link text-truncate">Политика конфиденциальности</a>
				</div>
			</div>
			<div class="col ml-auto d-flex justify-content-end">

					<a href="#top" class="text-center nav-link btn btn-outline-success rounded-circle to-top">&#8657;</a>

			</div>
		</div>
	</div>
</footer>
